<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Same Energy Video</title>
    <script>
      function extractNumberFromPath(path) {
        var regex = /(\d+)(?!.*\d)/;
        var match = path.match(regex);
        if (match && match.length > 0) {
          return parseInt(match[0]);
        }
        return 0; // Default value if no number found
      }

      document.addEventListener("DOMContentLoaded", function () {
        var videoContainers =
          document.getElementsByClassName("video-container");

        for (var i = 0; i < videoContainers.length; i++) {
          var video = videoContainers[i].querySelector("video");

          videoContainers[i].addEventListener("mouseover", function () {
            var video = this.querySelector("video");
            var screenshotPath = this.querySelector("img").getAttribute("src");
            var screenshotNumber = extractNumberFromPath(screenshotPath);
            var dynamicStartSeconds = (screenshotNumber + 1) * 5; // FIXME: time interval is hardcoded

            video.currentTime = dynamicStartSeconds;
            video.play();
          });

          videoContainers[i].addEventListener("mouseout", function () {
            var video = this.querySelector("video");
            video.pause();
          });
        }
      });
    </script>
  </head>
  <body>
    <div class="video-grid">
      {% for i in range(screenshots|length) %}
      <div class="video-container">
        <img
          src="{{ url_for('send_screenshot', path=screenshots[i]) }}"
          alt="Image 1"
        />
        <video
          src="{{ url_for('send_video') }}"
          preload="none"
          poster="{{ url_for('send_screenshot', path=screenshots[i]) }}"
        ></video>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
