<!DOCTYPE html>
<html>
  <head>
    <script src="https://www.youtube.com/player_api"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Same Energy Video</title>
    <script>
      function extractNumberFromPath(path) {
        // var regex = /(\d+)(?!.*\d)/;
        // var match = path.match(regex);
        // if (match && match.length > 0) {
        //   return parseInt(match[0]);
        // }
        return 0; // Default value if no number found
      }

      function getStartSecondsFromImagePath(imagePath) {
        console.log("[DEBUG] imagePath = " + imagePath);
        var regex = /_(\d+\.\d+)_/;
        var match = imagePath.match(regex);
        console.log("[DEBUG] match = " + match);
        if (match && match.length > 1) {
          return parseFloat(match[1]);
        }
        return 0; // Default value if no number found
      }

      function getVideoIdFromImagePath(imagePath) {
        var regex = /\/([^_\/]*)_/;
        var match = imagePath.match(regex);
        if (match && match.length > 1) {
          return match[1];
        }
        return null; // Default value if no match found
      }

      function onYouTubeIframeAPIReady(videoContainer) {
        var screenshotPath = videoContainer
          .querySelector("img")
          .getAttribute("src");
        console.log("[DEBUG]: " + screenshotPath);
        var dynamicStartSeconds = getStartSecondsFromImagePath(screenshotPath);
        var videoId = getVideoIdFromImagePath(screenshotPath);
        var player = createYouTubePlayer(
          videoContainer,
          videoId,
          dynamicStartSeconds
        );

        videoContainer.addEventListener("mouseover", function () {
          var overlay = this.querySelector(".overlay");
          if (overlay) {
            overlay.style.display = "block";
          }

          var iframe = getPlayerFromContainer(this);
          if (iframe) {
            player.playVideo();
          }
        });

        videoContainer.addEventListener("mouseout", function () {
          var overlay = this.querySelector(".overlay");
          if (overlay) {
            overlay.style.display = "none";
          }

          var iframe = getPlayerFromContainer(this);
          if (iframe) {
            player.pauseVideo();
          }
        });
      }

      // Create a YouTube player in the specified container and set the start time
      function createYouTubePlayer(container, videoId, startSeconds) {
        var playerDiv = container.querySelector(".player-div");
        var imgElement = container.querySelector("img");

        return new YT.Player(playerDiv, {
          height: "100%",
          width: "100%",
          videoId: videoId,
          playerVars: {
            playsinline: 1,
            controls: 2, // FIXME: supposedly this improves render speed?
            start: startSeconds,
          },
          events: {
            onStateChange: function (event) {
              var iframe = container.querySelector("iframe");
              if (!iframe) return;
              if (event.data == YT.PlayerState.PLAYING) {
                // imgElement.style.display = "none";
                iframe.classList.add("iframe-playing");
              } else if (
                event.data == YT.PlayerState.ENDED ||
                event.data == YT.PlayerState.PAUSED
              ) {
                imgElement.style.display = "block";
                iframe.classList.remove("iframe-playing");
              }
            },
          },
        });
      }

      // Get the YouTube player instance associated with the given container
      function getPlayerFromContainer(container) {
        var iframeElement = container.querySelector("iframe");
        if (iframeElement && iframeElement.tagName === "IFRAME") {
          return iframeElement;
        }
        return null;
      }

      // The API calls this function when the player is ready
      function onPlayerReady(event) {
        // Uncomment the following line if you want the video to start playing automatically
        // event.target.playVideo();
      }

      // Load the YouTube Player API script asynchronously
      (function () {
        var tag = document.createElement("script");
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName("script")[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      })();

      document.addEventListener("DOMContentLoaded", function () {
        let nextPageToken = null;
        let videoGrid = document.querySelector(".video-grid");

        function createImageElement(url) {
          let div = document.createElement("div");
          div.classList.add("video-container");

          let img = document.createElement("img");
          img.classList.add("lazy");
          img.dataset.src = url;
          img.src = "placeholder.jpg";
          img.alt = "Image 1";

          let playerDiv = document.createElement("div");
          playerDiv.classList.add("player-div");

          let overlayDiv = document.createElement("div");
          overlayDiv.classList.add("overlay");

          div.appendChild(img);
          div.appendChild(playerDiv);
          div.appendChild(overlayDiv);

          return div;
        }

        function fetchNextPage() {
          let url = nextPageToken
            ? "/screenshots/next/" + nextPageToken
            : "/screenshots/";
          fetch(url)
            .then((response) => response.json())
            .then((data) => {
              nextPageToken = data.next_token;
              data.screenshot_urls.forEach((url) => {
                var newImageElement = createImageElement(url);
                videoGrid.appendChild(newImageElement);
              });
              lazyLoadImages();
            })
            .catch((error) => console.error("Error:", error));
        }

        function lazyLoadImages() {
          let lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));
          if ("IntersectionObserver" in window) {
            let lazyImageObserver = new IntersectionObserver(function (
              entries,
              observer
            ) {
              entries.forEach(function (entry) {
                if (entry.isIntersecting) {
                  let lazyImage = entry.target;
                  lazyImage.src = lazyImage.dataset.src;
                  lazyImage.classList.remove("lazy");
                  lazyImageObserver.unobserve(lazyImage);

                  // If the last image came into view, fetch the next page
                  if (lazyImage === lazyImages[lazyImages.length - 1]) {
                    fetchNextPage();
                  }

                  // Call onYouTubeIframeAPIReady after img src is updated
                  let videoContainer = lazyImage.parentElement;
                  onYouTubeIframeAPIReady(videoContainer);
                }
              });
            });

            lazyImages.forEach(function (lazyImage) {
              lazyImageObserver.observe(lazyImage);
            });
          }
        }

        fetchNextPage();
      });
    </script>
  </head>
  <body>
    <div class="video-grid">
      <!-- {% for screenshot_path in screenshot_paths %}
      <div class="video-container" onclick="generateNewScreenshotPaths(this)">
        <img
          src="{{ url_for('send_screenshot', path=screenshot_path) }}"
          alt="Image 1"
        />
        <div class="player-div"></div>
        <div
          class="overlay"
          onclick="generateNewScreenshotPaths(this.parentElement)"
        ></div>
      </div>
      {% endfor %} -->
    </div>
    <script>
      function generateNewScreenshotPaths(element) {
        var screenshot_path = element.querySelector("img").getAttribute("src");
        // Make an AJAX request to the backend to fetch new screenshot_paths
        fetch("/resort_screenshots", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ path: screenshot_path }),
        })
          .then((response) => response.json())
          .then((data) => {
            // Update the screenshot_paths in the frontend
            const screenshotPaths = data.screenshot_paths;
            const videoContainers =
              document.querySelectorAll(".video-container");
            screenshotPaths.forEach((screenshotPath, index) => {
              // Update the image source
              imgElement.src = screenshotPath;

              // Create a new YouTube player with the new videoId
              var videoId = getVideoIdFromImagePath(screenshotPath);
              var dynamicStartSeconds =
                getStartSecondsFromImagePath(screenshotPath);
              var playerDiv = container.querySelector(".player-div");

              // Get existing YouTube player
              var player = YT.get(playerDiv.id);
              if (player) {
                // Update the video ID and start time
                player.cueVideoById({
                  videoId: videoId, // Replace with your actual videoId
                  startSeconds: dynamicStartSeconds,
                });
              } else {
                // If no player found, create a new one
                console.log("created a new player");
                createYouTubePlayer(container, dynamicStartSeconds);
              }
            });
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
