<!DOCTYPE html>
<html>
  <head>
    <script src="https://www.youtube.com/player_api"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Same Energy Video</title>
    <script>
      function extractNumberFromPath(path) {
        var regex = /(\d+)(?!.*\d)/;
        var match = path.match(regex);
        if (match && match.length > 0) {
          return parseInt(match[0]);
        }
        return 0; // Default value if no number found
      }

      // YouTube Player API callback function
      function onYouTubeIframeAPIReady() {
        var videoContainers =
          document.getElementsByClassName("video-container");

        for (var i = 0; i < videoContainers.length; i++) {
          var videoContainer = videoContainers[i];
          var screenshotPath = videoContainer
            .querySelector("img")
            .getAttribute("src");
          var screenshotNumber = extractNumberFromPath(screenshotPath);
          var dynamicStartSeconds = (screenshotNumber + 1) * 5; // FIXME: time interval is hardcoded

          var player = createYouTubePlayer(videoContainer, dynamicStartSeconds);

          videoContainer.addEventListener("mouseover", function () {
            var overlay = this.querySelector(".overlay");
            if (overlay) {
              overlay.style.display = "block";
            }

            var iframe = getPlayerFromContainer(this);
            if (iframe) {
              iframe.contentWindow.postMessage(
                '{"event":"command","func":"playVideo","args":""}',
                "*"
              );
            }
          });

          videoContainer.addEventListener("mouseout", function () {
            var overlay = this.querySelector(".overlay");
            if (overlay) {
              overlay.style.display = "none";
            }

            var iframe = getPlayerFromContainer(this);
            if (iframe) {
              iframe.contentWindow.postMessage(
                '{"event":"command","func":"pauseVideo","args":""}',
                "*"
              );
            }
          });
        }
      }

      // Create a YouTube player in the specified container and set the start time
      function createYouTubePlayer(container, startSeconds) {
        var playerDiv = document.createElement("div");
        container.insertBefore(playerDiv, container.firstChild);

        return new YT.Player(playerDiv, {
          height: "100%",
          width: "100%",
          videoId: "2yyxt8PpO84",
          playerVars: {
            playsinline: 1,
            controls: 2, // FIXME: supposedly this improves render speed?
            start: startSeconds,
          },
          //   events: {
          //     onReady: onPlayerReady,
          //   },
        });
      }

      // Get the YouTube player instance associated with the given container
      function getPlayerFromContainer(container) {
        var iframeElement = container.querySelector("iframe");
        if (iframeElement && iframeElement.tagName === "IFRAME") {
          return iframeElement;
        }
        return null;
      }

      // The API calls this function when the player is ready
      function onPlayerReady(event) {
        // Uncomment the following line if you want the video to start playing automatically
        // event.target.playVideo();
      }

      // Load the YouTube Player API script asynchronously
      (function () {
        var tag = document.createElement("script");
        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName("script")[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      })();
    </script>
  </head>
  <body>
    <div class="video-grid">
      {% for screenshot_path in screenshot_paths %}
      <div class="video-container" onclick="generateNewScreenshotPaths(this)">
        <img
          src="{{ url_for('send_screenshot', path=screenshot_path) }}"
          alt="Image 1"
        />
        <div
          class="overlay"
          onclick="generateNewScreenshotPaths(this.parentElement)"
        ></div>
      </div>
      {% endfor %}
    </div>
    <script>
      function generateNewScreenshotPaths(element) {
        var path = element.querySelector("img").getAttribute("src");
        // Make an AJAX request to the backend to fetch new screenshot_paths
        fetch("/resort_screenshots", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ path: path }),
        })
          .then((response) => response.json())
          .then((data) => {
            // Update the screenshot_paths in the frontend
            const screenshotPaths = data.screenshot_paths;
            const imageElements = document.querySelectorAll(
              ".video-container img"
            );
            screenshotPaths.forEach((screenshotPath, index) => {
              imageElements[index].src = screenshotPath;
            });
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
